@use "../base/mixins" as *;
@use "../base/variables" as *;

.portfolio-item {
  height: 190px;
  position: relative;
  display: grid;
  text-align: center;
  transition: $transition;
  grid-auto-rows: fit-content(100%);
  align-content: center;
  cursor: pointer;

  @include breakpoint(md) {
    height: 194px;
  }

  @include breakpoint(lg) {
    height: 208px;
  }

  @include breakpoint(xl) {
    height: 253px;
  }

  &:hover {
    @include breakpoint(lg) {
      scale: 1.09;
    }

    @include breakpoint(xl) {
      scale: 1.08;
    }
    .portfolio-item__title {
      @include breakpoint(lg) {
        opacity: 1;
        visibility: visible;
      }

    }

    .portfolio-item__description {
      @include breakpoint(lg) {
        opacity: 1;
        visibility: visible;
      }
    }

    .portfolio-item__image:after {
      @include breakpoint(lg) {
        opacity: 1;
        visibility: visible;
      }
    }

  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%; /* 28px */
    transition: inherit;

    @include breakpoint(lg) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 140%;
    transition: inherit;

    @include breakpoint(lg) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &:after {
      content: "";
      background: $shadow-black-40;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: inherit;

      @include breakpoint(lg) {
        opacity: 0;
        visibility: hidden;
      }
    }

    img {
      object-fit: cover;
    }
  }
}