@use "../base/mixins" as *;
@use "../base/variables" as *;

.review-item {
  background: $white;
  padding: 12px;
  position: relative;
  @include flexColumn;
  align-items: center;
  color: $black;
  display: grid;
  grid-template-rows: repeat(2, fit-content(100%)) 1fr;
  transition: $transition;

  @include breakpoint(md) {
    padding: 16px 22px;
  }


  &.review-showed {
    .review-item__text p{
      -webkit-line-clamp: unset;
      overflow: visible;
    }
  }

  &__logo {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 40px;
    justify-self: center;

    @include breakpoint(md) {
      width: 80px;
      height: 80px;
      margin-bottom: 8px;
    }

    @include breakpoint(xl) {
      margin-bottom: 12px;
    }
  }

  &__company {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    justify-self: center;
    margin-bottom: 12px;

    @include breakpoint(md) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__text {
    align-self: flex-end;

    p {
      @include textLimit(11);
      font-size: 12px;
      line-height: 130%;

      @include breakpoint(md) {
        font-size: 14px;
        line-height: 140%;
      }

      @include breakpoint(xl) {
        font-size: 16px;
      }
    }
  }

  &__action {
    margin-top: 12px;
    padding: 16px 36px;
    justify-self: center;
    color: $txt-disabled;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
    text-transform: uppercase;
    cursor: pointer;

    &.show-more {
      .show {
        display: none;
      }

      .hide {
        display: flex;
      }
    }

    .show, .hide {
      @include flexAlignCenter;
      gap: 8px;

      &:after {
        content: "";
        width: 16px;
        height: 16px;
      }
    }

    .show {
      &:after {
        background: url("../icons/icon_arrow-down--gray-rounded.svg") no-repeat center center;
      }
    }

    .hide {
      display: none;
      &:after {
        background: url("../icons/icon_arrow-up--gray-rounded.svg") no-repeat center center;
      }
    }

  }
}