block header
    header#header.header
        .container
            .header__inner
                a(href="/").header__logo
                    .header__logo-icon
                        include ../../public/assets/images/logo.svg
                    .header__logo-text
                        include ../../public/assets/images/logo-text.svg
                .header__nav
                    nav
                        ul
                            li
                                a(href="javascript:void(0)") Главная
                            li
                                a(href="javascript:void(0)") О студии
                            li.with-submenu
                                a(href="javascript:void(0)") Услуги
                                ul.submenu
                                    .container
                                        .submenu__inner
                                            li
                                                p Видеоинструкция
                                                ul
                                                    li
                                                        a(href="javascript:void(0)") Смотреть все
                                                    li
                                                        a(href="javascript:void(0)") Скринкаст видео
                                                    li
                                                        a(href="javascript:void(0)") Обучающий видеоролик
                                            li
                                                p Видеопрезентация
                                                ul
                                                    li
                                                        a(href="javascript:void(0)") Смотреть все
                                                    li
                                                        a(href="javascript:void(0)") Вирусное видео
                                                    li
                                                        a(href="javascript:void(0)") Имиджевый ролик
                                                    li
                                                        a(href="javascript:void(0)") Монтаж видео
                                                    li
                                                        a(href="javascript:void(0)") Продающее видео
                                                    li
                                                        a(href="javascript:void(0)") Промо ролик
                                                    li
                                                        a(href="javascript:void(0)") Рекламный видеоролик
                                            li
                                                p 3D видео
                                                ul
                                                    li
                                                        a(href="javascript:void(0)") Смотреть все
                                                    li
                                                        a(href="javascript:void(0)") 3D анимация
                                                    li
                                                        a(href="javascript:void(0)") 3D визуализация
                                                    li
                                                        a(href="javascript:void(0)") Архитектурная визуализация
                                                    li
                                                        a(href="javascript:void(0)") Компьютерная графика
                                                    li
                                                        a(href="javascript:void(0)") 3D тур
                                                    li
                                                        a(href="javascript:void(0)") 3D видеотур для VR
                                                    li
                                                        a(href="javascript:void(0)") 3D моделирование
                                            li
                                                p Видеосъемка
                                                ul
                                                    li
                                                        a(href="javascript:void(0)") Смотреть все
                                                    li
                                                        a(href="javascript:void(0)") Аэросъемка
                                                    li
                                                        a(href="javascript:void(0)") Корпоративное видео
                                                    li
                                                        a(href="javascript:void(0)") Съемка мероприятий
                                                    li
                                                        a(href="javascript:void(0)") Репортажная съемка
                                                    li
                                                        a(href="javascript:void(0)") Съемка интервью
                                                    li
                                                        a(href="javascript:void(0)") Промышленная видеосъемка
                                                    li
                                                        a(href="javascript:void(0)") Видеореклама
                                                    li
                                                        a(href="javascript:void(0)") Съемка рекламного ролика
                                                    li
                                                        a(href="javascript:void(0)") Съемка конференций
                                                    li
                                                        a(href="javascript:void(0)") Видеопродакшн
                                            li
                                                p Анимация
                                                ul
                                                    li
                                                        a(href="javascript:void(0)") Смотреть все
                                                    li
                                                        a(href="javascript:void(0)") Скрайбинг видео
                                                    li
                                                        a(href="javascript:void(0)") Видеоинфографика
                                                    li
                                                        a(href="javascript:void(0)") Эксплейнер видео
                                                    li
                                                        a(href="javascript:void(0)") Анимационный видеоролик
                                                    li
                                                        a(href="javascript:void(0)") Моушн дизайн
                                                    li
                                                        a(href="javascript:void(0)") Дудл видео
                                                    li
                                                        a(href="javascript:void(0)") Персонажная анимация
                                                    li
                                                        a(href="javascript:void(0)") 2D анимация
                                                    li
                                                        a(href="javascript:void(0)") Графический ролик
                                                    li
                                                        a(href="javascript:void(0)") Мультипликация
                                                    li
                                                        a(href="javascript:void(0)") Рисованый ролик
                            li
                                a(href="javascript:void(0)") Цены
                            li
                                a(href="javascript:void(0)") Портфолио
                            li
                                a(href="javascript:void(0)") Контакты

                a(href="javascript:void(0)").header__language.btn.btn-primary ru
                a(href="tel:78002000600").header__phone +7 800 2000 600
                .header__socilas
                    noindex
                        a(href="javascript:void(0)" rel="nofollow").header__socilas-item.social-telegram
                            include ../icons/icon_telegram.svg
                    noindex
                        a(href="javascript:void(0)" rel="nofollow").header__socilas-item.social-whatsapp
                            include ../icons/icon_whatsapp.svg
                button.header__menu#sidebarShow
                    include ../icons/icon_burger.svg

