section.advatages-section
    .container
        .advatages-section__inner
            .section-title Почему выбирают нас?
            .advatages-section__items
                .advatages-section__item
                    .advatages-section__item-title Оперативность и пунктуальность
                    .advatages-section__item-description.
                        Основанные на строгом соблюдении всех обозначенных сроков
                        и на четком выполнении поставленных задач
                .advatages-section__item
                    .advatages-section__item-title Непревзойденное качество
                    .advatages-section__item-description.
                        Основанные на строгом соблюдении всех обозначенных сроков
                        и на четком выполнении поставленных задач
                .advatages-section__item
                    .advatages-section__item-title Профессиональное обордование
                    .advatages-section__item-description.
                        Основанные на строгом соблюдении всех обозначенных сроков
                        и на четком выполнении поставленных задач
                .advatages-section__item
                    .advatages-section__item-title Оперативность и пунктуальность
                    .advatages-section__item-description.
                        Основанные на строгом соблюдении всех обозначенных сроков
                        и на четком выполнении поставленных задач
