section.choose-section
    .container
        .choose-section__inner
            .section-title Почему выбирают нас?
    .choose-section__items
        .choose-section__item
            .choose-section__item-title Оперативность и пунктуальность
            .choose-section__item-description.
                Основанные на строгом соблюдении всех обозначенных сроков
                и на четком выполнении поставленных задач
            .choose-section__item-image
                +img('choose-section-image-1.jpg')
        .choose-section__item
            .choose-section__item-title Непревзойденное качество
            .choose-section__item-description.
                Основанные на строгом соблюдении всех обозначенных сроков
                и на четком выполнении поставленных задач
            .choose-section__item-image
                +img('choose-section-image-2.jpg')
        .choose-section__item
            .choose-section__item-title Профессиональное обордование
            .choose-section__item-description.
                Основанные на строгом соблюдении всех обозначенных сроков
                и на четком выполнении поставленных задач
            .choose-section__item-image
                +img('choose-section-image-3.jpg')
        .choose-section__item
            .choose-section__item-title Оперативность и пунктуальность
            .choose-section__item-description.
                Основанные на строгом соблюдении всех обозначенных сроков
                и на четком выполнении поставленных задач
            .choose-section__item-image
                +img('choose-section-image-4.jpg')
