section.components-section
    .container
        .components-section__inner
            .section-title Из чего складывается стоимость видеосъемки?
            .components-section__items

                -
                    var components = [
                        "Продолжительность и количество съемочных дней - чем дольше необходимо задействовать квадрокоптер, тем выше стоимость",
                        "Сложность локации и условий съемки (ландшафт, высота, погодные условия)",
                        "Продолжительность и количество съемочных дней - чем дольше необходимо задействовать квадрокоптер, тем выше стоимость",
                        "Продолжительность и количество съемочных дней - чем дольше необходимо задействовать квадрокоптер, тем выше стоимость",
                        "Особые пожелания клиента и нестандартные задачи",
                        "Географическое месторасположение объекта съемки",
                        "Дополнительные услуги: 3D-моделирование, панорамная съемка, аэрофотосъемка в темное время суток",
                    ]
                each component in components
                    .components-section__item
                        .components-section__item-icon
                            include ../../icons/icon_dollar.svg
                        .components-section__item-text= component


