section.feedback
    .container
        .feedback__inner
            .feedback__text.
                Для того что бы узнать точную цену, <a href="tel:78002000600">позвоните</a>
                или напишите нам в <a href="javascript:void(0)">telegram</a> или <a href="javascript:void(0)">whatsApp</a>,  и  в течении нескольких часов
                мы предложим персональную цену по Вашему проекту
            button(data-src="#popupOrder" data-fancybox).btn.btn-primary Связаться с нами