section.reviews-section
    .container
        .reviews-section__inner
            .reviews-section__apostrophe
                include ../../../public/assets/images/apostrophe-image.svg
            .reviews-section__main
                .reviews-section__main-top
                    .section-title Отзывы клиентов
                    .slider-navigation
                        button.navigation-button.navigation-button--prev
                        button.navigation-button.navigation-button--next
                .reviews-section__slider
                    .swiper
                        .swiper-wrapper
                            - var n = 6;
                            while n > 0
                                .swiper-slide
                                    .review-item
                                        .review-item__logo
                                            +img('review-logo.png')
                                        .review-item__company Toyota
                                        .review-item__text
                                            p.
                                                Студия видеомонтажа продемонстрировала высочайший уровень
                                                профессионализма в работе над нашим проектом. Качество монтажа,
                                                внимание к деталям и соблюдение сроков превзошли ожидания.
                                                Благодарим за плодотворное сотрудничество!Студия видеомонтажа
                                                продемонстрировала высочайший уровень профессионализма в работе
                                                над нашим проектом. Качество монтажа, внимание к деталям и
                                                соблюдение сроков превзошли ожидания. Студия видеомонтажа
                                                продемонстрировала высочайший уровень профессионализма в работе
                                                над нашим проектом. Качество монтажа, внимание к деталям и
                                                соблюдение сроков превзошли ожидания. Благодарим за плодотворное
                                                сотрудничество! Студия видеомонтажа продемонстрировала высочайший
                                                уровень профессионализма в работе над нашим проектом. Качество
                                                монтажа, внимание к деталям и соблюдение сроков превзошли ожидания.
                                        .review-item__action.show-more
                                            .show Развернуть
                                            .hide Свернуть
                                - n--;




