section.reviews-section
    .container
        .reviews-section__inner
            .reviews-section__apostrophe
                include ../../../public/assets/images/apostrophe-image.svg
            .reviews-section__main
                .reviews-section__main-top
                    .section-title Отзывы клиентов
                    .slider-navigation
                        button.navigation-button.navigation-button--prev
                        button.navigation-button.navigation-button--next
                .reviews-section__slider
                    .swiper
                        .swiper-wrapper
                            - var n = 6;
                            while n > 0
                                .swiper-slide
                                    include ../_review-item
                                - n--;




