section.seo-section
    .container
        .seo-section__inner
            .seo-section__title.
                Заголовок для SEO Блока в несколько строк с выделением какого
                то <span>слова</span> или <span>словосочетания</span> другим цветом,
                отличным от всего текста
            .seo-section__content
                p.
                    Мелких клиентов не бывает. Видеопроект — как ребенок. Вам нужно
                    уделить этому все свое внимание. Так мы поступаем с каждым
                    проектом, независимо от масштаба производства.
                p.
                    Video EditionStudio — небольшая студия. Это означает, что мы
                    универсальны, гибки и отзывчивы. Вам  что-нибудь нужно уже завтра?
                    Давайте обсудим это  — нет ничего невозможного.
