section.services-section
    .container
        .services-section__inner
            .services-section__top
                .section-title Популярные услуги
                a(href="services.html").more-btn все услуги
            .services-section__items
                -
                    var servicesItems = [
                        "Анимационный ролик", "Видеоролик для маркетплейсов",
                        "3D визуализация", "Корпоративный фильм", "Рекламный видеоролик",
                        "Съемка интервью", "Репортажная съемка", "Аэросъемка",
                        "Озвучка / дикторская озвучка",
                    ]
                each title, index in servicesItems
                    include ../_service-item
                    +serviceItem(title, index, "services-section-image")

