section.hero
    .container
        .hero__inner
            h1 Студия профессионального видеомонтажа
            .subtitle
                p.
                    Придумываем и снимаем  рекламные ролики для телевидения
                    и интернета, имиджевые, корпоративные видео для бизнеса,
                    музыкальные клипы и фильмы
                button.btn.btn-primary заказать видеоролик
    .hero__video
        //video(src="assets/images/demo.mp4" autoplay loop muted preload="auto")
        +img('hero-image.jpg')