section.hero
    .container
        .hero__inner
            h1 Студия профессионального видеомонтажа
    .hero__video
        video(src="assets/images/demo.mp4" autoplay loop muted preload="auto")