extends ../layout/layout

block title
    - var title = 'О студии'
    - var page = 'page-about'

block main
    include ../components/_breadcrumbs
    +breadcrumbs('О студии')
    section.about
        .container
            .about__inner
                h1 О студии
                .about__description
                    p.
                        Video Edition Studio — студия видеопроизводства полного
                        цикла. Мы работаем с 2012 года. Начинали как небольшая
                        студия для массового производства обзоров товаров для
                        интернет-магазинов. За 10 лет профиль изменился в пользу
                        более масштабных проектов.
                    p.
                        Мы гарантируем фундаментальный подход к реализации
                        проекта любого масштаба и сложности, полную юридическую
                        прозрачность, незамедлительную обратную связь и регулярные
                        отчеты о проделанной работе на каждом этапе оказания услуги.
                .h3-title Миссия
                .about__description
                    p.
                        «Превращать кадры в эмоции, а идеи — в визуальные истории,
                        которые вдохновляют, запоминаются и меняют восприятие мира»
                    p.
                        Мы создаём не просто видео — мы создаём смыслы. Наша цель — помочь
                        каждому клиенту передать свою уникальную историю через
                        профессиональный монтаж, творческий подход и внимание к деталям.
                        Мы верим, что даже самый обычный момент можно превратить в
                        произведение, которое тронет сердца зрителей.
                a(href="portfolio.html").btn.btn-primary Ознакомьтесь с нашими кейсами
                .about__image
                    include ../../public/assets/images/about-main-image.svg

    section.about-values
        .container
            .about-values__inner
                .section-title Ценности
                .about-values__items
                    -
                        var aboutValuesItems = [
                            {
                                title: "Креативность без границ",
                                description: "Мы не боимся экспериментировать, смешивать стили и искать нестандартные решения. Каждый проект — это возможность создать что-то новое, что выделит клиента среди остальных "
                            },
                            {
                                title: "Качество как стандарт",
                                description: "Мы работаем без компромиссов: от подбора идеального ракурса до финальной цветокоррекции. Наши видео — это эталон чёткости, гармонии и технического совершенства"
                            },
                            {
                                title: "Эмоции прежде всего",
                                description: "Мы верим, что сила видео — в его способности вызывать чувства. Даже в корпоративном ролике мы ищем человечность, юмор или драму, чтобы зацепить зрителя"
                            },
                            {
                                title: "Профессионализм и ответственность",
                                description: "Соблюдение дедлайнов, прозрачность процесса и экспертный подход — основа нашего взаимодействия. Вы можете доверить нам свой проект, как самому себе"
                            },
                            {
                                title: "Инновации в каждом кадре",
                                description: "Мы следим за трендами, осваиваем новые технологии (AI-инструменты, VR, 3D-графика) и внедряем их, чтобы ваше видео оставалось актуальным даже завтра"
                            },
                            {
                                title: "Клиент — соавтор",
                                description: "Ваше видение и наши навыки — равные части уравнения. Мы слушаем, задаём вопросы и погружаемся в ваши цели, чтобы результат стал воплощением вашей мечты"
                            },
                        ]
                    each aboutValuesItem, index in aboutValuesItems
                        .about-values__item
                            .about-values__item-text
                                .about-values__item-title= aboutValuesItem.title
                                .about-values__item-description= aboutValuesItem.description
                            .about-values__item-image
                                +img(`about-values-image-${index + 1}.jpg`)

    include ../components/sections/_companies-section

    include ../components/sections/_feedback-section

    include ../components/sections/_advantages-section

    include ../components/sections/_reviews-section

    include ../components/sections/_seo-section

    include ../components/sections/_order-section



