extends ../layout/layout

block title
    - var title = 'Главная'
    - var page = 'page-main'

block main
    include ../components/sections/_hero-section
    include ../components/sections/_about-section
    include ../components/sections/_services_section
    include ../components/sections/_advantages-section
