block sidebar
    .sidebar#sidebar
        .sidebar__inner
            button.sidebar__close#sidebarClose
                include ../icons/icon_x-black--rounded.svg
            .sidebar__nav
            .sidebar__contacts
            button.btn.btn-primary заказать видеоролик