@use "../../base/mixins" as *;
@use "../../base/variables" as *;

.portfolio-section {
  &__inner {
    display: grid;
    gap: 24px;

    @include breakpoint(md) {
      gap: 32px;
    }

    @include breakpoint(lg) {
      gap: 40px;
    }

    @include breakpoint(xl) {
      gap: 60px;
    }
  }
  &__top {
    @include flexColumn;
    gap: 16px;

    @include breakpoint(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__items {
    display: grid;
    gap: 10px;

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }

  .btn {
    justify-self: center;
  }
}