@use "../../base/mixins" as *;
@use "../../base/variables" as *;

.reviews-section {
  overflow: hidden;

  &__inner {
    position: relative;
    padding-top: 50px;

    @include breakpoint(md) {
      padding-top: 57px;
    }

    @include breakpoint(lg) {
      padding-top: 114px;
    }
  }

  &__apostrophe {
    height: 65px;
    width: auto;
    top: 0;
    right: calc(var(--container) * -1);
    position: absolute;
    z-index: -1;

    @include breakpoint(md) {
      height: 92px;
    }

    @include breakpoint(lg) {
      height: 181px;
    }

    @include breakpoint(xl) {
      right: -20px;
    }
  }


  &__main {
    border: 1px solid $border-white-7;
    background: $foreground-white-13;
    backdrop-filter: blur(3.5px);
    padding: 20px 12px;

    @include breakpoint(md) {
      padding: 30px 20px;
    }

    &-top {
      @include flexCenterBetween;
      margin-bottom: 24px;

      @include breakpoint(md) {
        margin-bottom: 32px;
      }

      @include breakpoint(lg) {
        margin-bottom: 40px;
      }

      @include breakpoint(xl) {
        margin-bottom: 60px;
      }
    }
  }

  &__slider {

  }
}