@use "mixins" as *;

:root {
    --container: 10px;
    --container-max-width: 1400px;

    @include breakpoint(md) {
        --container: 16px;
    }

    @include breakpoint(xl) {
        --container: 20px;
    }
}

$container: var(--container);
$container-max-width: var(--max-width);

.container {
    margin: 0 auto;
    padding: 0 $container;
    position: relative;
    width: 100%;
    max-width: $container-max-width;
    box-sizing: border-box;
}
