@use "mixins" as *;

html {
    scroll-behavior: smooth;
}

body {
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .4s;
}

body.overflow-hidden {
    overflow: hidden;
}

body b {
    font-weight: 700;
    color: inherit;
}

body.compensate-for-scrollbar {
    overflow: visible!important;
    padding: 0!important;
}

main {
    min-height: calc(max(calc(100vh - 614px), 350px));
}

#page {
    position: relative;
    min-width: 360px;
    min-height: 100%;
    max-width: 100%;
    @include flexColumn;
}

#page::before {
    content: '';
}

section {
    position: relative;
}

li {
    list-style: none;
}


/////////////////////
/// SCROLLBAR
/////////////////////

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {

}

* {
    scrollbar-width: thin;
    //scrollbar-color: $blue-dark transparent;
}


/////////////////////
/// INPUTS
/////////////////////

/* Убираем стрелки в Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"], {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none !important;
}

input:focus,
input:focus-visible,
input:focus::after,
input:focus-visible::after {
    outline: none !important;
    box-shadow: none !important;
}

input {
    outline: none;
    border: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Убирает стандартный стиль в Firefox */
}

/////////////////////
/// BUTTONS
/////////////////////



/////////////////////
/// LINKS
/////////////////////
a {
    display: inline-block;
}


/////////////////////
/// ICONS
/////////////////////


/////////////////////
/// OTHERS
/////////////////////

video, svg, image {
    width: 100%;
    height: 100%;
}

section + section {

}

/////////////////////
/// CARDS & CATALOG
/////////////////////



/////////////////////
/// TYPOGRAPHY
/////////////////////



/////////////////////
/// SWIPER SLIDER
/////////////////////
