@use "mixins" as *;
@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: $white;
  background: $bg-dark-blue;

  @include breakpoint(md) {
    font-size: 16px;
  }

  @include breakpoint(lg) {
    font-size: 17px;
  }
}
// Убирает синюю обводку при клике по элементам
* {
  -webkit-tap-highlight-color: transparent;
}


body.overflow-hidden {
  overflow: hidden;
}

body b {
  font-weight: 700;
  color: inherit;
}

body.compensate-for-scrollbar {
  overflow: visible !important;
  padding: 0 !important;
}

main {
  min-height: calc(max(calc(100vh - 614px), 350px));
}

#page {
  position: relative;
  min-width: 360px;
  min-height: 100%;
  max-width: 100%;
  @include flexColumn;
}

#page::before {
  content: '';
}

section {
  position: relative;
}

li {
  list-style: none;
}

#overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $transition;

  &.show {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 250;
    background: #25295F66;
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}


/////////////////////
/// SCROLLBAR
/////////////////////

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;

  @include breakpoint(lg) {
    width: 8px;
  }
}
// Трек
body::-webkit-scrollbar-track {
  background-color: $dark-gray;
}

// Ползунок
body::-webkit-scrollbar-thumb {
  background-color: $btn-normal;
}

* {
  //scrollbar-width: thin;
  //scrollbar-color: $btn-normal $dark-gray;
}


/////////////////////
/// INPUTS
/////////////////////

/* Убираем стрелки в Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"], {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
}

input:focus,
input:focus-visible,
input:focus::after,
input:focus-visible::after {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none;
  border: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Убирает стандартный стиль в Firefox */
}

.input {
  transition: $transition;
  padding: 12px 16px;
  border-radius: 2px;
  border: 1px solid $border-gray;
  background: $white;
  font-size: 16px;
  line-height: 140%;

  &::placeholder {
    color: $txt-gray;
  }

  &:focus {
    border: 1px solid $border-blue;
  }

  &.error {
    border: 1px solid $border-red;
  }
}

/////////////////////
/// BUTTONS
/////////////////////

.btn {
  @include flexCenterCenter;
  border-radius: 21px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  transition: $transition;
  width: 100%;
  height: fit-content;

  @include breakpoint(md) {
    border-radius: 27px;
    padding: 16px 36px;
    font-size: 16px;
    line-height: 150%;
    width: fit-content;
  }

  &.btn-primary {
    background: $btn-normal;
    color: $white;

    &:hover {
      background: $btn-hover;
    }

    &:disabled {
      background: $btn-gray;
      color: $txt-disabled;
    }

    &:active {
      background: $btn-active;
    }
  }

  &.btn-transparent {
    background: transparent;
    color: $black;
    border: 1px solid $btn-normal;
    border-radius: 21px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;

    @include breakpoint(lg) {
      border-radius: 27px;
      padding: 16px 36px;
      font-size: 16px;
      line-height: 150%;
      width: fit-content;
    }


    &:hover {
      border: 1px solid $btn-hover;
    }

    &:disabled {
      background: $btn-gray;
      color: $txt-disabled;
      border: 1px solid $btn-gray;
    }

    &:active {
      background: $btn-active;
      border: 1px solid $btn-active;
    }

    &--white-text {
      color: $white;

      &:disabled {
        background: $btn-gray-disabled;
        color: $txt-disabled;
      }
    }
  }
}

.more-btn {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 130%;
  padding: 12px 20px;
  @include flexAlignCenter;
  gap: 8px;
  border: 1px solid $border-white-7;
  border-radius: 21px;
  width: fit-content;
  transition: $transition;

  @include breakpoint(md) {
    border: 1px solid transparent;
  }

  @include breakpoint(lg) {
    font-size: 16px;
  }

  &:hover {
    border: 1px solid $btn-hover;
  }

  &:after {
    content: "";
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background: url("../icons/icon_arrow-right--double.svg") no-repeat center center;
  }
}

.slider-navigation {
  @include flexAlignCenter;
  gap: 4px;

  @include breakpoint(lg) {
    gap: 12px;
  }

  .navigation-button {
    transition: $transition;
    width: 40px;
    height: 40px;
    @include flexCenterCenter;
    background: $icon-blue;
    cursor: pointer;
    border-radius: 50%;

    &:before {
      content: "";
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }

    &:hover {
      background: $btn-blue-hover;
    }
    &--prev {
      &:before {
        background: url("../icons/icon_arrow-left--white-rounded.svg");
      }
    }

    &--next {
      &:before {
        background: url("../icons/icon_arrow-right--white-rounded.svg");
      }
    }
  }
}

/////////////////////
/// LINKS
/////////////////////
a {
  display: inline-block;
}


/////////////////////
/// ICONS
/////////////////////


/////////////////////
/// OTHERS
/////////////////////

video, svg, image {
  width: 100%;
  height: 100%;
}

section + section {
  margin-top: 50px;

  @include breakpoint(md) {
    margin-top: 70px;
  }

  @include breakpoint(lg) {
    margin-top: 100px;
  }

  @include breakpoint(xl) {
    margin-top: 170px;
  }
}

/////////////////////
/// CARDS & CATALOG
/////////////////////


/////////////////////
/// TYPOGRAPHY
/////////////////////

h1, h2, .section-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */

  @include breakpoint(md) {
    font-size: 32px;
    line-height: 120%;
  }

  @include breakpoint(lg) {
    font-size: 36px;
  }

  @include breakpoint(xl) {
    font-size: 48px;
  }
}

h3, .h3-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */

  @include breakpoint(md) {
    font-size: 24px;
    line-height: 130%;
  }

  @include breakpoint(lg) {
    font-size: 32px;
    line-height: 120%;
  }

  @include breakpoint(xl) {
    font-size: 36px;
  }
}

.subtitle {
  font-size: 14px;
  line-height: 140%; /* 22.4px */
  margin-top: 12px;

  @include breakpoint(md) {
    font-size: 16px;
  }

  @include breakpoint(lg) {
    font-size: 20px;
    margin-top: 16px;
  }

  @include breakpoint(xl) {
    font-size: 24px;
    line-height: 130%;
  }
}
