@use "mixins" as *;
@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: $white;
  background: $bg-dark-blue;

  @include breakpoint(md) {
    font-size: 16px;
  }

  @include breakpoint(lg) {
    font-size: 17px;
  }
}


body.overflow-hidden {
  overflow: hidden;
}

body b {
  font-weight: 700;
  color: inherit;
}

body.compensate-for-scrollbar {
  overflow: visible !important;
  padding: 0 !important;
}

main {
  min-height: calc(max(calc(100vh - 614px), 350px));
}

#page {
  position: relative;
  min-width: 360px;
  min-height: 100%;
  max-width: 100%;
  @include flexColumn;
}

#page::before {
  content: '';
}

section {
  position: relative;
}

li {
  list-style: none;
}

#overlay {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $transition;

  &.show {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 250;
    background: #25295F66;
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
}


/////////////////////
/// SCROLLBAR
/////////////////////

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {

}

* {
  scrollbar-width: thin;
  //scrollbar-color: $blue-dark transparent;
}


/////////////////////
/// INPUTS
/////////////////////

/* Убираем стрелки в Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"], {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
}

input:focus,
input:focus-visible,
input:focus::after,
input:focus-visible::after {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none;
  border: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Убирает стандартный стиль в Firefox */
}

/////////////////////
/// BUTTONS
/////////////////////

.btn {
  @include flexCenterCenter;
  border-radius: 21px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  transition: $transition;
  width: 100%;

  @include breakpoint(md) {
    border-radius: 27px;
    padding: 16px 36px;
    font-size: 16px;
    line-height: 150%;
    width: fit-content;
  }

  &.btn-primary {
    background: $btn-normal;
    color: $white;

    &:hover {
      background: $btn-hover;
    }

    &:disabled {
      background: $btn-gray;
      color: $txt-disabled;
    }

    &:active {
      background: $btn-active;
    }
  }
}

/////////////////////
/// LINKS
/////////////////////
a {
  display: inline-block;
}


/////////////////////
/// ICONS
/////////////////////


/////////////////////
/// OTHERS
/////////////////////

video, svg, image {
  width: 100%;
  height: 100%;
}

section + section {

}

/////////////////////
/// CARDS & CATALOG
/////////////////////


/////////////////////
/// TYPOGRAPHY
/////////////////////

h1, h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */

  @include breakpoint(md) {
    font-size: 32px;
    line-height: 120%;
  }

  @include breakpoint(lg) {
    font-size: 36px;
  }

  @include breakpoint(xl) {
    font-size: 48px;
  }
}

.subtitle {
  font-size: 16px;
  line-height: 140%; /* 22.4px */
  margin-top: 12px;

  @include breakpoint(lg) {
    font-size: 20px;
    margin-top: 16px;
  }

  @include breakpoint(xl) {
    font-size: 24px;
    line-height: 130%;
  }
}
