:root {
  --color-wf-lite: #D7DBE0;
  --color-wf-dark: #525866;
  --color-wf-med: #768494;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-60: #FFFFFF99;
  --color-btn-normal: #8B2B87;
  --color-btn-hover: #BD5DB9;
  --color-btn-active: #63035F;

}

$white: var(--color-white);